/* Thin */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-ThinOblique.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Ultra Light */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-UltraLightOblique.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Extra Light */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-ExtraLightOblique.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-RegularOblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semi Bold */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-SemiBoldOblique.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-BoldOblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-ExtraBoldOblique.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meutas';
  src: url('./Meutas-BlackOblique.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
} 